*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.top{
    width: 100%;
    height: 100px;
    background: rgba(4, 121, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}
.logo_area{
    width: 20%;
}
.logo_area a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_area a img{
    width: 100px;
}
.logo_area a h1{
    color: #fff;
    text-transform: uppercase;
    font-family: cursive;
    margin-left: 15px;
}
.menu_area{
    width:40%;
}
.menu_area ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_area ul li{
    position: relative;
}
.menu_area ul li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #00ffff;
    bottom: -10px;
    left: 0;
    transition: .5s all ease-in-out;
}
.menu_area ul li:hover::after{
    width: 100%;
}
.menu_area ul li a{
    color: #fff;
    font-family: lato;
    font-size: 16px;
    transition: 0.3s all ease-in-out;
}
.menu_area ul li a:hover{
    color: #00ffff;
}
.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{
    color: #fff;
    font-family: lato;
    font-size: 60px;
}
.info p{
    color: #fff;
    font-size: 20px;
    font-family: arial;
    margin:0px;
}
.btn button{
    padding: 15px 45px;
    background: transparent;
    border: 2px solid aqua;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn a{
    color: #fff;
}

.btn button::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: rgb(4, 121, 0);
    left: 0;
    top: 0;
    z-index: -1;
    transition: .5s all ease-in-out;
}
.btn button:hover::after{
    width: 100%;
}

#username{
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}